**/.vscode
*.gz
*.aux
*.log
*.fls
*.fdb*
*.bcf
*.xml
*.blg
*.toc
*.out
*.tmp
*.bbl
*.tmp
*.bak
# main.pdf
2mas.pdf
1its.pdf
3requirements.pdf
4system.pdf
5toolset.pdf
6implementation.pdf
7validation.pdf